.Navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Button {
  background-color: grey;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.2em;
}

.Logout {
  position: relative;
}

.Logo {
  width: 100px;
}

.Logo-Link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
