.Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.FormContainer {
  width: 350px;
  text-align: right;
  padding: 10px;
  box-shadow: 3px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(80, 175, 0);
}

.FormTitle {
  text-align: left;
}

input {
  margin: 5px;
}
