.Categories {
  border: 1px solid black;
  box-shadow: 1em;
  margin: 10px;
  width: 100%;
}

.CategoriesList {
  list-style: none;
  display: flex;
}

.CategoriesListItem {
  background-color: #4caf50;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  width: 70%;
}

.TransactionList {
  list-style: none;
  background-color: white;
  font-size: 14px;
}
